@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>


<div class="alert alert-danger">
    <p>Ma Sinh Vien: 2310900012</p>
    <p>Ho va ten: Tran The Binh</p>
    <p>Email:binhtranthe@gmail.com</p>
    <p>Lop: K23CNT1</p>
    <p>Dien thoai:0978381287</p>
</div>
