@{
    ViewData["Title"] = "Trang cá nhân";
    Layout = "_TtbLayout";
}

<h2 class="text-center text-primary">THÔNG TIN SINH VIÊN DỰ THI</h2>

<table class="table table-bordered table-striped w-50 mx-auto">
    <tr>
        <th>Mã sinh viên</th>
        <td>2310900012</td>
    </tr>
    <tr>
        <th>Họ tên</th>
        <td>Trần Thế Bình</td>
    </tr>
    <tr>
        <th>Lớp</th>
        <td>K23CNT1</td>
    </tr>
    <tr>
        <th>Ngành học</th>
        <td>Công nghệ thông tin</td>
    </tr>
    <tr>
        <th>Ngày sinh</th>
        <td>27/06/2005</td>
    </tr>
</table>
