@{
    ViewData["Title"] = "Thông tin sinh viên";
}



<div class="alert alert-info">
    <p>Mã sinh viên:2310900012</p>
    <p>Họ và tên:Trần Thế Bình</p>
    <p>Email:binhtranthe2005@gmail.com</p>
    <p>Điện thoại:<a href="tel:0978381287">0978381827</a> </p>
    <p>Lớp:K23CNT1</p>
</div>