@model TranTheBinh_2310900012.Models.TtbEmployee

@{
    ViewData["Title"] = "Thêm mới nhân viên";
    Layout = "_TtbLayout";
}

<h2 class="text-primary">THÊM MỚI NHÂN VIÊN</h2>

<form asp-action="TtbCreate">
    <div class="form-group">
        <label asp-for="TtbEmpName" class="control-label"></label>
        <input asp-for="TtbEmpName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TtbEmpLevel" class="control-label"></label>
        <input asp-for="TtbEmpLevel" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TtbEmpStartDate" class="control-label"></label>
        <input asp-for="TtbEmpStartDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TtbEmpStatus" class="control-label"></label>
        <input asp-for="TtbEmpStatus" type="checkbox" /> (Hiển thị: Show/Hide)
    </div>
    <button type="submit" class="btn btn-success">Thêm</button>
    <a asp-action="TtbIndex" class="btn btn-secondary">Quay lại</a>
</form>
