@{
    ViewData["Title"] = "Thông tin sinh viên ";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>

    <p>Mã sinh viên: 2310900012</p>
    <p>Họ và tên: Trần Thế Bình</p>
    <p>Email: binhtranthe2005@gmail.com</p>
    <p>Điện thoại: 0978381287</p>
    <p>Lớp: K23CNT1</p>
    <p></p>
</div>

