﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên: 2310900012</p>
    <p>Họ và tên: Tran The Binh</p>
    <p>Email: binhtranthe@gmail.com</p>
    <p>Điện thoại: <a href="tel:0978381287" title="0978381287">0978.38.1287</a>    </p>
    <p>Lớp: K23CNT1</p>
</div>