@{
	ViewData["Title"] = "Index2";
}
<h2>Index</h2>
<div class="jumbotron">
	<div class="container">
		<h1>Demo Index Page</h1>
		<p>
			Văn bản là tuy gần gũi nhưng lại rất đa dạng về thể loại. Chính vì vậy, có nhiều quan điểm giải thích về văn bản.

			- Quan điểm thứ nhất cho rằng, văn bản là phương thức để truyền đạt thông tin từ một cá nhân này đến cá nhân khác hoặc từ một tổ chức đến cá nhân/tổ chức khác thông qua ngôn ngữ viết trên chất liệu giấy hoặc điện tử.

			Theo quan điểm này thì các loại giấy tờ như giấy phép, thông báo, báo cáo,  câu hỏi, tài liệu… đều được coi là văn bản.

			- Quan điểm khác lại cho rằng, văn bản là các loại giấy tờ, tài liệu được sử dụng trong những cơ quan, đoàn thể và tổ chức xã hội. Theo đó, các loại giấy tờ này được sử dụng để điều hành và quản lý hoạt động của cơ quan, đoàn thể hay để truyền đạt thông tin đến các cá nhân, tổ chức trong xã hội. Ví dụ như: Quyết định, Chỉ thị Công văn…

			Nhìn chung, văn bản là hình thức truyền đạt thông tin bằng ngôn ngữ viết. Hay có thể hiểu, văn bản là một phương tiện dùng để ghi nhận, lưu giữ và truyền đạt các thông tin từ chủ thể này sang chủ thể khác thông qua chữ viết.

		</p>
		<p>
			<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
		</p>
	</div>
</div>